<launch>
<node pkg="fire_detector"
        name="fire_detector_node"
        type="fire_detector_node"
        output="screen"
  >
</node>
<!-- <node pkg="usb_cam" name="usb_cam" type="usb_cam_node" output="screen" /> -->
    
  
    <include file="$(find yolov5_ros)/launch/yolov5.launch">
        <arg name="weights" value="$(find fire_detector)/weights/Fire-Detector-yolov5n6.pt" />
        <arg name="data" value="$(find fire_detector)/class_lables/fire-detector.yaml"/>
        <arg name="publish_image" value="true"/>
        <arg name="input_image_topic" value="/camera/color/image_raw"/>
        <arg name="device" value="cpu"/>
        <arg name="view_image" value="false"/>
    </include>
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />
</launch>
